body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #1e1e1e;
    color: #ffffff;
}

header {
    background-color: #ff4757;
    padding: 20px;
    text-align: center;
}

header nav a {
    margin: 0 10px;
    color: white;
    text-decoration:  none;
}

.hero {
    background-color: #2f3542;
    text-align: center;
    padding: 50px 20px;
}

.anime-card img {
    width: 100%;
    border-radius: 8px;
}

.anime-card button {
    background-color: #ff6b81;
    border: none;
    padding: 8px 12px;
    margin-top: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}



.anime-list {
    padding: 40px 20px;
    background-color: #111;
    color: white;
  }
  
  .anime-list h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
  }
  
  .anime-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    justify-items: center;
  }

  footer {
    background-color: #2f3542;
    text-align: center;
    padding: 10px;
}
  